@charset "utf-8";
/* 
 * @Author: 陈能堡 - 梦幻雪冰
 *          http://www.h5course.com/
 *          http://m18050905128.blog.163.com/
 *          https://github.com/chennengbao
 * @Date:   2016-08-25 19:27:59
 * @Last Modified by:   陈能堡 - 梦幻雪冰
 * @Last Modified time: 2016-10-26 16:22:38
 *
 * @cnb-radius      补全CSS3圆角的内核前缀
 * @cnb-shadow      补全CSS3阴影的内核前缀
 * @cnb-transition  补全CSS3过渡的内核前缀
 * @cnb-animation   补全CSS3动画的内核前缀
 * @cnb-transform   补全CSS3变形的内核前缀 
 */
.cnb-sizing {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*********** 公共样式 ***********/
.font-style {
  color: #ccc;
  font-size: 14px;
}
.big-module,
.small-module {
  float: left;
  width: 238px;
  height: 208px;
  margin: 0 24px 24px 0;
  padding: 15px 15px 0 15px;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
}
.big-module > h3,
.small-module > h3 {
  color: #333333;
  font-size: 14px;
}
.big-module > h3,
.small-module > h3 {
  margin-bottom: 24px;
}
.big-module {
  width: 384px;
  height: 327px;
}
.com-edit-icon {
  width: 12px;
  height: 12px;
  padding: 4px;
  background: url(../images/editIcon.png) center center no-repeat;
}
.table-module {
  position: absolute;
  width: 378px;
  margin: 0 29px 14px 0;
}
.table-module > .con-element-list {
  border: 1px solid #f5f5f5;
  border-bottom-width: 0;
  border-radius: 3px;
}
.table-module > h3 {
  padding: 0 0 13px;
  color: #6666ff;
  font-size: 14px;
}
/*********** 页面样式 ***********/
.wrap {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  padding-top: 73px;
}
.wrap > header {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 88;
  width: 1200px;
  margin-left: -600px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 5px #888;
}
.wrap > header > section,
.wrap > header > h1 {
  float: left;
  height: 73px;
}
.wrap > header > section {
  width: 280px;
}
.wrap > header > h1 {
  width: 890px;
  padding-left: 30px;
  line-height: 73px;
  background-color: #6666ff;
  color: #fff;
  font-size: 16px;
}
.wrap > .main > .nav {
  float: left;
  width: 209px;
  min-height: 800px;
  border-right: 1px solid #ccccff;
  background-color: #f5f5f5;
}
.wrap > .main > .nav > .add-module {
  position: relative;
  display: block;
  height: 66px;
  padding-left: 90px;
  border-bottom: 1px solid #ccccff;
  line-height: 66px;
  color: #cccccc;
  font-size: 14px;
  cursor: pointer;
}
.wrap > .main > .nav > .add-module:before {
  position: absolute;
  left: 59px;
  top: 24px;
  content: "\200B";
  width: 23px;
  height: 23px;
  background: url(../images/addModule.png) no-repeat;
}
.wrap > .main > .nav > a {
  display: block;
  padding: 29px 0;
  text-align: center;
  color: #333333;
  font-size: 14px;
  transition: color 0.3s;
}
.wrap > .main > .nav > a:hover {
  background-color: #fff;
  color: #6666ff;
}
.wrap > .main > .nav > .sel-module-nav {
  background-color: #fff;
  color: #6666ff;
}
.wrap > .main > .main-con {
  float: right;
  width: 864px;
  min-height: 800px;
  padding: 30px 68px 0 58px;
}
.wrap > .main .con-opt {
  position: relative;
  margin-bottom: 34px;
}
.wrap > .main .con-opt > span,
.wrap > .main .con-opt > strong {
  float: left;
  height: 31px;
  text-align: center;
  line-height: 31px;
}
.wrap > .main .con-opt > span {
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
}
.wrap > .main .con-opt > span:nth-child(1) {
  width: 156px;
}
.wrap > .main .con-opt > span:nth-child(4) {
  width: 77px;
}
.wrap > .main .con-opt > strong {
  width: 295px;
  margin: 0 207px 0 123px;
}
.wrap > .main .con-opt > strong > a {
  float: left;
  width: 145px;
  height: 31px;
  border: 1px solid #9999ff;
  background-color: #fff;
  color: #6666ff;
  font-size: 14px;
}
.wrap > .main .con-opt > strong > a:nth-child(1) {
  border-radius: 15px 0 0 15px;
}
.wrap > .main .con-opt > strong > a:nth-child(2) {
  border-radius: 0 15px 15px 0;
}
.wrap > .main .con-opt > strong > .sel-config {
  background-color: #6666ff;
  color: #fff;
}
.wrap > .main .con-outer {
  overflow: hidden;
  width: 864px;
  min-height: 705px;
}
.wrap > .main .con-inner {
  width: 1000px;
}
.wrap > .main .monitor-config {
  display: none;
}
.wrap > .main .con-visit > p:before,
.wrap > .main .con-visit > p {
  height: 34px;
  line-height: 34px;
  color: #6666ff;
  font-size: 18px;
}
.wrap > .main .con-visit > p:before {
  display: inline-block;
  width: 70px;
  margin-right: 42px;
  color: #333333;
  font-size: 14px;
  text-align: right;
}
.wrap > .main .con-visit > p:nth-child(2):before {
  content: "UV";
}
.wrap > .main .con-visit > p:nth-child(3):before {
  content: "PV";
}
.wrap > .main .con-visit > p:nth-child(4):before {
  content: "平均UV";
}
.wrap > .main .con-visit > p:nth-child(5):before {
  content: "平均PV";
}
.wrap > .main .con-arrive {
  position: relative;
}
.wrap > .main .con-arrive > p:nth-child(2) {
  margin-top: 126px;
  padding: 0 6px;
  color: #6666ff;
  font-size: 12px;
}
.wrap > .main .con-arrive > p:nth-child(2) span {
  position: relative;
  float: left;
}
.wrap > .main .con-arrive > p:nth-child(2) span:before {
  left: 10px;
  content: "上传";
}
.wrap > .main .con-arrive > p:nth-child(2) em {
  position: relative;
  float: right;
}
.wrap > .main .con-arrive > p:nth-child(2) em:before {
  right: 10px;
  content: "完成";
}
.wrap > .main .con-arrive > p:nth-child(2) em:before,
.wrap > .main .con-arrive > p:nth-child(2) span:before {
  position: absolute;
  top: -28px;
  color: #ccc;
  font-size: 14px;
}
.wrap > .main .con-arrive > p:nth-child(3) {
  position: absolute;
  top: 61px;
  left: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #6666ff;
  font-size: 66px;
}
.wrap > .main .con-arrive > p:nth-child(3):before {
  position: absolute;
  bottom: -5px;
  left: 50%;
  content: '\200B';
  width: 133px;
  height: 10px;
  margin-left: -66.5px;
  background: url(../images/arriveArrow.png) no-repeat;
}
.wrap > .main .con-arrive > p:nth-child(3):after {
  content: '%';
  font-size: 14px;
}
.wrap > .main .con-checkbox,
.wrap > .main .con-time {
  width: 414px;
  padding: 15px 0 0;
}
.wrap > .main .con-checkbox > h3,
.wrap > .main .con-time > h3 {
  padding: 0 15px;
}
.wrap > .main .web-opt {
  border-bottom: 1px solid #ccccff;
}
.wrap > .main .web-opt > span {
  position: relative;
  float: left;
  width: 91px;
  height: 30px;
  margin-left: 20px;
  line-height: 30px;
  color: #ccc;
  font-size: 14px;
  cursor: pointer;
}
.wrap > .main .web-opt > span:first-child {
  margin-left: 0;
}
.wrap > .main .web-opt .sel-web-config {
  color: #6666ff;
}
.wrap > .main .web-opt .sel-web-config:after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "\200B";
  width: 100%;
  height: 2px;
  background-color: #ccccff;
}
.wrap > .main .web-opt .sel-web-config > .com-edit-icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
}
.wrap > .main .web-config {
  display: none;
}
.wrap > .main .web-config > p {
  padding: 13px 0 18px;
  font-size: 14px;
}
.wrap > .main .web-config > p > span {
  float: right;
  color: #333;
  margin-left: 30px;
}
.wrap > .main .web-config > p > span:nth-child(1):before {
  content: "页面PV：";
  color: #ccc;
}
.wrap > .main .web-config > p > span:nth-child(2):before {
  content: "页面UV：";
  color: #ccc;
}
.wrap > .main .web-inner {
  position: relative;
  width: 814px;
}
.wrap > .main .web-inner .con-element-list th,
.wrap > .main .web-inner .con-element-list table {
  /*设置表格的宽度*/
  width: 380px;
  /*设置表格布局算法：*/
  table-layout: fixed;
  text-align: center;
}
.wrap > .main .web-inner .con-element-list th div,
.wrap > .main .web-inner .con-element-list table div {
  padding: 0 5px;
}
.wrap > .main .web-inner .con-element-list th {
  color: #cccccc;
  font-size: 12px;
}
.wrap > .main .web-inner .con-element-list td {
  color: #333;
  font-size: 14px;
}
.wrap > .main .web-inner .con-element-list .name-col {
  width: 140px;
  border-right: 1px solid #f5f5f5;
}
.wrap > .main .web-inner .con-element-list .uv-col {
  width: 118px;
  border-right: 1px solid #f5f5f5;
}
.wrap > .main .web-inner .con-element-list .pv-col {
  width: 119px;
}
.wrap > .main .web-inner .con-element-list tr {
  height: 41px;
  border-bottom: 1px solid #f5f5f5;
}
.wrap .input-group {
  position: absolute;
  left: 164px;
  top: -5px;
  z-index: 99;
  width: 200px;
  display: none;
}
.wrap a {
  text-decoration: none;
}
.wrap > footer {
  height: 80px;
  border-top: 1px solid #ccccff;
  line-height: 80px;
  text-align: center;
  color: #888;
  font-size: 14px;
}
